<%- include("../partials/header") %>

<div class="container">
    <h1 class="text-primary text-center">Tell us What's Going on with you <%= user.username %> ?</h1>
    <div class="row">
        <div style="width: 30%; margin: 25px auto;">
            <form action="/users/<%= user._id %>/events" method="post">
                <div class="form-group">
                    <h6 class="text-warning text-center">Title</h6>
                    <input class="form-control" type="text" name="event[title]" placeholder="What is the Event About?">
                </div>
                <div class="form-group">
                    <h6 class="text-warning text-center">Duration</h6>
                    <input class="form-control" type="text" name="event[duration]" placeholder="How many days will the Event go on for?">
                </div>
                <div class="form-group">
                    <h6 class="text-warning text-center">Date</h6>
                    <input class="form-control" type="date" name="event[date]" placeholder="When is the Event?">
                </div>
                <div class="form-group">
                    <h6 class="text-warning text-center">Details</h6>
                    <input class="form-control" type="text" name="event[description]" placeholder="Tell us about the Event..">
                </div>
                <div class="form-group">
                    <h6 class="text-warning text-center">From</h6>
                    <input class="form-control" type="time" name="event[From]">
                </div>
                <div class="form-group">
                    <h6 class="text-warning text-center">Till</h6>
                    <input class="form-control" type="time" name="event[Till]">
                </div>
                <div class="form-group">
                    <h6 class="text-warning text-center">Link</h6>
                    <input class="form-control" type="url" name="event[Link]" placeholder="Link to the Event">
                </div>
                <div class="form-group">
                    <h6 class="text-warning text-center">Poster</h6>
                    <input class="form-control" type="text" name="event[Poster]" placeholder="Poster for Event">
                </div>
                <div class="form-group">
                    <button class="btn btn-md btn-block btn-outline-success" type="submit">Add Event</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>