<%- include("./partials/header") %>

<div class="container mt-5" data-aos="zoom-in" data-aos-duration="3000">
    <div class="row">
        <div class="col-md-4">
            <div class="card border-0" style="width: 18rem; background: transparent;">
                <img src="/logo.png" class="card-img-top" alt="MILAP">
                <div class="card-body">
                  <h4 class="card-text text-center text-primary">M.I.L.A.P</h4>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h4 class="display-4 text-center text-primary">Multiple Interconnected Locus for Alumni Protocol</h4>
            <p class="text-success lead mt-5">We at MILAP provide an interface that aims towards building a coherent and collective intermediary between institution and our graduates. We strongly believe that college days bring the best out of us and so we provide you with This platform that helps you propagate the same lifelong. Join MILAP as a proud GUA member.</p>
        </div>
    </div>
</div>

<div class="container">
    <h3 class="display-3 section" data-aos="fade-up" data-aos-duration="3000">What We Offer You</h3>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card border-0" data-aos="zoom-in" data-aos-duration="2000" style="width: 18rem; background: transparent;">
                <img src="https://images.unsplash.com/photo-1519500099198-fd81846b8f03?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="MILAP">
                <div class="card-body">
                  <h4 class="card-text text-center text-primary">Set the pin to your location. Discover those around you and expand your circle.</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-md-4">
            <div class="card border-0" data-aos="fade-right" data-aos-duration="2000" style="width: 18rem; background: transparent;">
                <img src="https://images.unsplash.com/photo-1508962914676-134849a727f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="MILAP">
                <div class="card-body">
                  <h4 class="card-text text-center text-primary">Track your feed and updates.</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0" data-aos="fade-left" data-aos-duration="2000" style="width: 18rem; background: transparent;">
                <img src="https://images.unsplash.com/photo-1531058020387-3be344556be6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="MILAP">
                <div class="card-body">
                  <h4 class="card-text text-center text-primary">Get involved with all your institution events.</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card border-0" data-aos="zoom-in" data-aos-duration="2000" style="width: 18rem; background: transparent;">
                <img src="https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="MILAP">
                <div class="card-body">
                  <h4 class="card-text text-center text-primary">Get in touch with your those from your institution and extend your connectivity.</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>